p {
	margin: 0;
	padding: 0;
}

#content-body {
	text-align: center;
	width: 1100px;
	margin: auto;
}

#tools, #links {
	margin-top: 3px;
}

#links {
	float: left;
	margin-left: 10px;
}

#search-form input {
	border-radius: 0px;
	border: none;
}

#tools {
	float: right;
	margin-right: 10px;
}

#tools div {
	display: inline-block;
}

#nav-bar a {
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}

#nav-bar {
	text-align: center;
	margin: auto;
	background-color: #3590FF;
	height: 25px;
	width: 1096px;
	margin-bottom: 2px;
	border: solid 2px #444444;
}