p {
	margin: 0;
	padding: 0;
}

#content-body {
	width: 85%;
	margin: auto;
	background-color: 	#618685;
	border-radius: 25px;
	border: solid;
	border-width: 2px;
	margin-top: 100px;
}

body {
	background-image: url("../images/aerialbellinghamsmaller.jpg");
}

h1 {
	text-align: center;
	padding-top: 1em;
	color:  #d5f4e6;
}

.about p {
	margin: 1em;
	font-size: 14pt;
}