#properties {
	width: 50%;
	overflow: auto;
	margin: auto;
}

.data-column {
	float: left;
	border-right: solid black 1px;
	padding: 5px;
}

#form {
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

