#property-columns {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.property-column {
	display: table-cell;
	text-align: center;
}

.originData {
    color: green;
    float: left;
    border-style: solid;
    border-width: 5px;
}

.destinationData {
    color: blue;
    border-style: solid;
    border-width: 5px;
}
