#nav-bar {
	text-align: center;
	margin: auto;
	background-color: #3590FF;
	height: 25px;
	width: 1096px;
	margin-bottom: 2px;
	border: solid 2px #444444;
}

#content-body {
	text-align: center;
	width: 1100px;
	margin: auto;
}