#side-bar {
	float: left;
	background-color: #3590FF;
	width: 300px;
	height: 900px;
	border: solid 2px #444444;
}

#street-view {
	width: 300px;
	height: 300px;
}

#search-area input {
	border: none;
	border-radius: 0px;
}

#search-area input[type="text"] {
	font-family: sans-serif;
	width: 200px;
}

/*#map iframe {
	float: right;
	height: 900px;
	width: 790px;
}*/

#map {
	border: solid 2px #444444;
	float: right;
	height: 900px;
	width: 790px;
}