{% extends "base.html" %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content  %}
    <link rel="stylesheet" type="text/css" href="../static/css/account_creation.css"/>
    <script type="text/javascript" src="../static/javascript/account_creation.js"></script>

    <h1>Account Creation</h1>

    <ul class="tab">
      <li><a href="javascript:void(0)" id="defaultOpen" class="tablinks" onclick="openTab(event, 'Create')">Create Account</a></li>
      <li><a href="javascript:void(0)" id="loginOpen" class="tablinks" onclick="openTab(event, 'Login')">Login</a></li>
    </ul>

    <div id="Create" class="tabcontent">
        <form name="account_data" action="{{ url_for('account') }}" method="POST">
            <h2>User</h2>
            <hr>
            <div id="userdata">
                {{  form.hidden_tag()  }}
                {%  for field in form if field.widget.input_type != 'hidden' %}

                    {{ field.label }}

                    {% if field.type != 'BooleanField' %}
                        <br>
                    {%  endif %}

                    {{ field }}

                    {%  for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    <br>
                {%  endfor  %}

            </div>
            <hr>
            <h2>Address</h2>
            <hr>
            <div id="addressdata">

                {%  for field in addressform if field.widget.input_type != 'hidden' %}

                    {{ field.label }}

                    {% if field.type != 'BooleanField' %}
                        <br>
                    {%  endif %}

                    {{ field }}

                    {%  for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    <br>
                {%  endfor  %}

                <br>
                <div id="buttonCenter">
                    <button class="submitButton" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div id="Login" class="tabcontent">
        <form name="login_data" action="{{ url_for('login') }}" method="POST">
            <div id="logindata">
                {{  form.hidden_tag()  }}
                {%  for field in loginform if field.widget.input_type != 'hidden' %}

                    {{ field.label }}

                    {% if field.type != 'BooleanField' %}
                        <br>
                    {%  endif %}

                    {{ field }}

                    {%  for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    <br>
                {%  endfor  %}

                <br>
                <div id="buttonCenter">
                    <button class="submitButton" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("defaultOpen").click();
    </script>

    {% if login_error %}
      <script>
          document.getElementById("loginOpen").click();
      </script>
    {% endif %}

{% endblock %}
