{% extends "base.html" %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
{% block content  %}
<h1>Account Creation</h1>
<hr>
<form name="account_data" action="{{ url_for('account') }}" method="POST">
    <h2>User</h2>
    <hr>
    <div id="userdata">
        {{  form.hidden_tag()  }}
        {%  for field in form if field.widget.input_type != 'hidden' %}

            {{ field.label }}

            {% if field.type != 'BooleanField' %}
                <br>
            {%  endif %}

            {{ field }}

            {%  for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            <br>
        {%  endfor  %}

    </div>
    <hr>
    <h2>Address</h2>
    <hr>
    <div id="addressdata">

        {%  for field in addressform if field.widget.input_type != 'hidden' %}

            {{ field.label }}

            {% if field.type != 'BooleanField' %}
                <br>
            {%  endif %}

            {{ field }}

            {%  for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            <br>
        {%  endfor  %}

        <br>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
