<!DOCTYPE html>
<html>
	<head>
		<title>HSI</title>
		<meta charset= "UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        {% block javascript %}{% endblock %}
	</head>
	<body>
		<div id="nav-bar">
			{% block navbar %}{% endblock %}
		</div>
		<div id="content-body">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
