{% extends "base.html" %}
{% block navbar %}
	{% include "navbar.html" %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="../static/javascript/compare.js"></script>
    <script type="text/javascript" src="../static/javascript/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/compare.css"/>
{% endblock %}
{% block content %}

    <h1>Property Utility Comparisons</h1>
    <hr>
    <div id="main">
        <!--
	<link rel="stylesheet" type="text/css" href="../static/css/compare.css">
	<h1>Property Comparisons</h1>
	<hr></hr>
	<div id="property-columns">
		<div class="property-column">
			<h3>{{ property }}</h3>
		</div>
	</div> -->

        <form name="compare_data" action="{{ url_for('compare') }}" method="POST">

            <div class="originData">
                {{  formOrigin.hidden_tag()  }}
                {%  for field in formOrigin if field.widget.input_type != 'hidden' %}
                    {{ field.label }}

                    {{ field }}

                    {%  for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    <br>
                {%  endfor  %}
            </div>

            <div class="destinationData">
                {{  formDestination.hidden_tag()  }}
                {%  for field in formDestination if field.widget.input_type != 'hidden' %}

                    {{ field.label }}

                    {{ field }}

                    {%  for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    <br>
                {%  endfor  %}
            </div>


            <div id="submit">
                <button class="submitButton" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}