<link rel="stylesheet" type="text/css" href="../static/css/nav_bar.css">
<div id="links">
	<a href="about">About HSI</a>
	<a href="privacy">Privacy Policy</a>
	<a href="terms">Terms of Use</a>
	<a href="contact">Contact Us</a>
	<a href="main">Main Page</a>
</div>
<div id="tools">
	<div id="account">
		<a href="account">Register/Login</a>
	</div>
	<div id="nav-search-form">
		<form action="/properties" method="get">
			<div>
				<input type="text" name="search_string">
				<input type="submit" value="search">
			</div>
		</form>
	</div>
</div>