{% extends "base.html" %}
{% block navbar %}
	{% include "navbar.html" %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/properties.css">
<div id="side-bar">
	{% if not searchString %} <!-- checks for empty string -->
	<!-- given empty string the image loaded is of downtown bellingham -->
	<img id="street-view" src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location=48.7510528,-122.4812339
	&heading=15
	&fov=120
	&key=AIzaSyCb1JuqcxzEU3MPPJ3oaFN1GkCur7go-oA"></img>
	{% else %}
	<img id="street-view" src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location={{searchString}}
	&key=AIzaSyCb1JuqcxzEU3MPPJ3oaFN1GkCur7go-oA"></img>
	{% endif %}
	<div id="search-form">
		<form action="/properties" method="get">
			<div>
				<input type="text" name="search_string">
				<input type="submit" value="search">
			</div>
		</form>
	</div>
	<div id="address-data">
	<div id="address-text-box">
		<h3 id="address-text">{{ searchString }}</h3>
	</div>
	{% if addressData %}
		<div id="addressData"></div>
		<script type="text/javascript">
			// The address data is stored for later access by properties.js
			var addressDataJSON = {{ addressData|tojson|safe }};
			var nearbyDataJSON = {{ nearbyData|tojson|safe }};
		</script>
		{% if multiUnit == "True" %}
		<div>
			<label for="labels">Units:</label>
			<select id="unit-list">
				{% for unit in addressData|fromjson %}
				<option value="{{unit}}">{{unit}}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		<div id="labels">
			<p id="apartment"><!-- This and subsequent fields filled with js --></p>
			<p id="update-date"></p>
			<p id="rent"></p>
			<p id="heating"></p>
			<p id="gas"></p>
			<p id="electrical"></p>
			<p id="water"></p>
			<p id="recycle"></p>
			<p id="compost"></p>
		</div>
	{% else %}
		<p> Sorry, there's no data on this proprty, or we couldn't display it</p>
	{% endif %}
	</div>
</div>
<div id="map"> <!-- filled with js --> </div>
<script type="text/javascript" src="../static/javascript/properties.js"></script>
<script
async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb1JuqcxzEU3MPPJ3oaFN1GkCur7go-oA&callback=initMap">
</script>
{% endblock %}