{% extends "base.html" %}
{% block navbar %}
	{% include "navbar.html" %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/properties.css">
<script
async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb1JuqcxzEU3MPPJ3oaFN1GkCur7go-oA&callback=initMap">
</script>
<div id="side-bar">
	{% if not search_string %} <!-- checks for empty string -->
	<!-- given empty string the image loaded is of downtown bellingham -->
	<img id="street-view" src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location=48.7510528,-122.4812339
	&heading=15
	&fov=120
	&key=AIzaSyCb1JuqcxzEU3MPPJ3oaFN1GkCur7go-oA"></img>
	{% else %}
	<img id="street-view" src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location={{search_string}}
	&key=AIzaSyCb1JuqcxzEU3MPPJ3oaFN1GkCur7go-oA"></img>
	{% endif %}
	<div id="search-form">
		<form action="/properties" method="get">
			<div>
				<input type="text" name="search_string">
				<input type="submit" value="search">
			</div>
		</form>
	</div>
	<div id="address-data">
	{% if addressData %}
		<div id="address-text-box">
			<h3 id="address-text">{{ searchString }}</h3>
		</div>
		{% if singleUnit %}
		<p>Apartment: {{ singleUnit }}</p>
		<p>Updated: {{ addressData["updateDate"] }}</p>
		<p>Rent: {{ addressData["rent"] }}</p>
		<p>Heating: {{ addressData["heating"] }}</p>
		<p>Gas: {{ addressData["gas"] }}</p>
		<p>Electrical: {{ addressData["electrical"] }}</p>
		<p>Water: {{ addressData["water"] }}</p>
		<p>Recycle: {% if addressData["recycle"]|string() == "True" %}yes{% else %}none{% endif %}</p>
		<p>Compost: {% if addressData["compost"]|string() == "True" %}yes{% else %}none{% endif %}</p>
		{% else %}
		<script type="text/javascript">
			// The address data is stored for later access by properties.js
			var addressDataJSON = '{{ jsonUnitData }}';
		</script>
		<div>
			<select id="unit-list">
				{% for unit in addressData["units"] %}
				<option value="{{unit}}">{{unit}}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
	{% else %}
		<p> Sorry, there's no data on this proprty, or we couldn't display it</p>
	{% endif %}
	</div>
</div>
<div id="map"> <!-- filled with js --> </div>
<script type="text/javascript" src="../static/javascript/properties.js"></script>
{% endblock %}