<!DOCTYPE html>
<html>
	<head>
		<title>HSI</title>
		<meta charset= "UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/search.css"/>
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div id="nav-bar">
			<div id="links">
				<a href="about">About HSI</a>
				<a href="">Privacy Policy</a>
				<a href="">Terms of Use</a>
				<a href="">Contact Us</a>
			</div>
			<div id="tools">
                <p>Not a member?  </p>
				<a href="account">Register/Login</a>
			</div>
		</div>
		<div id="content-body">
			<link rel="stylesheet" type="text/css" href="../static/css/search.css"/>
			<div id="search-form">
				<form action="/properties" method="get">
						<h1>Search HSI</h1>
						<input type="text" name="search_string">
						<input id="submit-button" type="submit" value="search">
				</form>
			</div>

            <div id="compareButton">
                <form action="comparisons">
                    <input type="submit" class="compare-button" value="Compare Properties">
                </form>
            </div>

            <div id="distanceButton">
                <form action="distance">
                    <input type="submit" class="distance-button" value="Check Distances">
                </form>
            </div>
		</div>
	</body>
</html>
